<?xml version="1.0"?>
<config>
    <modules>
        <Edrone_Base>
            <version>1.1.16</version>
        </Edrone_Base>
    </modules>
    <global>
        <blocks>
            <edrone>
                <class>Edrone_Base_Block</class>
            </edrone>
        </blocks>
        <helpers>
            <edrone>
                <class>Edrone_Base_Helper</class>
            </edrone>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <edrone>
                    <file>edrone.xml</file>
                </edrone>
            </updates>
        </layout>
        <translate>
            <modules>
                <edrone>
                    <files>
                        <default>Edrone.csv</default>
                    </files>
                </edrone>
            </modules>
        </translate>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <edrone_add_to_cart_after>
                        <class>Edrone_Base_Model_Observer</class>
                        <method>addToCart</method>
                    </edrone_add_to_cart_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <events>
            <sales_order_place_after>
                <observers>
                    <edrone_order_observer>                   
                        <class>Edrone_Base_Model_Observer</class>
                        <method>export_new_order</method>
                    </edrone_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <edrone_subscriber_save_observer>
                        <class>Edrone_Base_Model_Observer</class>
                        <method>newsletterSubscriberChange</method>
                    </edrone_subscriber_save_observer>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
        <routers>
            <edrone_newsletter>
                <use>standard</use>
                <args>
                    <frontName>edrone</frontName>
                    <module>Edrone_Base</module>
                </args>
            </edrone_newsletter>
            <edrone_edroneproduct>
                <use>standard</use>
                <args>
                    <frontName>edroneproduct</frontName>
                    <module>Edrone_Base</module>
                </args>
            </edrone_edroneproduct>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <edrone>
                    <files>
                        <default>Edrone.csv</default>
                    </files>
                </edrone>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <edrone>
            <base>
                <app_id>INSERT_APP_ID_HERE</app_id>
                <app_secret>INSERT_APP_SECRET_HERE</app_secret>
                <external_script_url>//d3bo67muzbfgtl.cloudfront.net/edrone_2_0.js</external_script_url>
                <collector_url>https://api.edrone.me/trace</collector_url>
            </base>
        </edrone>
    </default>
</config>
