<?xml version="1.0"?>
<config>
    <modules>
        <Edrone_Base>
            <version>1.0.4</version>
        </Edrone_Base>
    </modules>
    <global>
        <blocks>
            <edrone>
                <class>Edrone_Base_Block</class>
            </edrone>
        </blocks>
        <helpers>
            <edrone>
                <class>Edrone_Base_Helper</class>
            </edrone>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <edrone>
                    <file>edrone.xml</file>
                </edrone>
            </updates>
        </layout>
        <translate>
            <modules>
                <edrone>
                    <files>
                        <default>Edrone.csv</default>
                    </files>
                </edrone>
            </modules>
        </translate>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <edrone_add_to_cart_after>
                        <class>Edrone_Base_Model_Observer</class>
                        <method>addToCart</method>
                    </edrone_add_to_cart_after>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <edrone>
                    <files>
                        <default>Edrone.csv</default>
                    </files>
                </edrone>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <edrone>
            <base>
                <app_id>INSERT_APP_ID_HERE</app_id>
                <external_script_url>//api.edrone.me/edrone_2_0.js</external_script_url>
                <collector_url>https://api.edrone.me/trace.php</collector_url>
            </base>
        </edrone>
    </default>
</config>
